.mapBoxgl-popup-close-button{
 font-size: 2rem;
 color: #fff;
 opacity: 0.54;
 z-index:2;
 transition: opacity 0.3s linear;
}
.mapBoxgl-popup-close-button:hover{
opacity: 0.8;

}
.mapboxgl-popup-content{
 padding: 0 !important;
}
.mapbox-popup-tip{
 border-bottom-color:rgba(0,0,0,0.5) !important;
 border-top-color:rgba(0,0,0,0.5) !important;
}
.swiper{
 z-index: unset !important;
}
.swiper-pagination{
 text-align: right !important;
 left: unset !important;
 right:8px
}